:root {
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    --grow-size-one: calc(0.9em + 0.5vw);
    --size-one: 1em;
    --size-half: 0.5em;
    --position-center: center;
    --primary-orange: #ff6b27;
    --primary-purple: #b027ff;
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 20%);
}

:is(*, ::before, ::after) {
    box-sizing: inherit;
    font-family: inherit;
    font-size: var(--grow-size-one);
}

body {
    margin: 0 auto;
    min-height: 100vh;
    color: var(--white);
    background-image: linear-gradient(135deg, var(--primary-orange), var(--primary-purple));
    background-repeat: no-repeat;
}

body * + * {
    margin: 0;
}

footer {
    font-size: 0.65em;
    text-align: var(--position-center);
    margin-top: calc(6 * var(--size-one));
}

.player {
    display: grid;
    grid-template-rows: repeat(4, auto);
    gap: var(--size-one);
    background-color: transparent;
}

.title {
    text-align: var(--position-center);
    font-size: calc(2 * var(--size-one));
}

.control-panel {
    display: flex;
    justify-content: space-around;
}

.track-info {
    margin-top: var(--size-half);
    display: none;
    justify-content: var(--position-center);
    align-items: var(--position-center);
    padding: 0 var(--size-one);
}

.track-name {
    display: none;
    justify-content: var(--position-center);
    font-size: var(--size-one);
    margin-top: -2em;
}

.track-name > * {
    margin-top: var(--size-one);
}

.song-tracker {
    margin-right: var(--size-half);
}

.button--prev,
.button--next,
.button--repeat,
.button--shuffle {
    display: none;
}

.button {
    font-size: 0.75em;
    padding: 0.75em 1.75em;
    background-color: transparent;
    color: var(--white);
    border: none;
    border-radius: 0.4em;
    cursor: pointer;
    box-shadow: -0.08em 0em var(--white), 0.08em 0em var(--white);
}
@media (min-width: 40em) {
    .button {
        box-shadow: none;
        font-size: 1.25em;
    }
}
@media (min-width: 40em) {
    .button:hover {
        box-shadow: -0.04em 0.04em var(--white), 0.04em -0.04em var(--white);
        transition: ease-out 0.5s;
    }

    .button--prev:active {
        transform: translateX(-1em);
    }

    .button--next:active {
        transform: translateX(1em);
    }

    .button--shuffle:active {
        transform: rotateX(180deg);
        transition: box-shadow 0.5s ease-out;
    }
    .button--repeat:active {
        transform: rotateZ(-180deg);
        transition: box-shadow 0.5s ease-out;
    }
}

.progress {
    width: 100%;
    max-height: 1.5vh;
    border-radius: var(--size-one);
    border-color: var(--white);
    background-color: transparent;
    margin: 0 var(--size-one);
}
@media (min-width: 40em) {
    .progress {
        max-height: 4vh;
    }
}

/* this is only for firefox, chrome and safari*/
::-moz-progress-bar,
::-webkit-progress-bar {
    background-color: var(--white);
    border-radius: 4em;
}
