:root {
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    --grow-size-one: calc(0.9em + 0.5vw);
    --size-one: 1em;
    --size-half: 0.5em;
    --position-center: center;
    --primary-orange: #ff6b27;
    --primary-purple: #b027ff;
    --white: hsl(0, 0%, 100%);
    --white-80: hsl(0, 0%, 80%);
    --black: hsl(0, 0%, 20%);
}

:is(*, ::before, ::after) {
    box-sizing: inherit;
    font-family: inherit;
    font-size: var(--grow-size-one);
}

body {
    margin: 0 auto;
    min-height: 100vh;
    color: var(--white);
    background-image: linear-gradient(135deg, var(--primary-orange), var(--primary-purple));
    background-repeat: no-repeat;
}

body * + * {
    margin: 0;
}

footer,
span {
    font-size: 0.65em;
    text-align: var(--position-center);
    margin-top: calc(6 * var(--size-one));
}

span {
    color: var(--white-80);
    margin-left: 1em;
}

.player {
    display: grid;
    grid-template-rows: repeat(4, auto);
    gap: var(--size-one);
    background-color: transparent;
}

.title {
    text-align: var(--position-center);
    font-size: calc(2 * var(--size-one));
}

.control-panel {
    display: flex;
    justify-content: space-around;
}

.track-info {
    margin-top: var(--size-half);
    display: none;
    justify-content: var(--position-center);
    align-items: var(--position-center);
    padding: 0 var(--size-one);
}

.track-name {
    display: none;
    justify-content: var(--position-center);
    font-size: var(--size-one);
    margin-top: -2em;
}

.track-name > * {
    margin-top: var(--size-one);
}

.song-tracker {
    margin-right: var(--size-half);
}

.button--prev,
.button--next,
.button--repeat,
.button--pause,
.button--shuffle,
.volume-control {
    display: none;
}

.button,
.volume-control {
    font-size: 0.8em;
    padding: 0.75em 1.75em;
    background-color: transparent;
    color: var(--white);
    border: none;
    border-radius: 0.4em;
    cursor: pointer;
}

.button--play,
.button--pause {
    font-size: 1.55em;
    padding: 0 1em;
}

@media (min-width: 40em) {
    .button,
    .volume-control {
        font-size: 1em;
        color: var(--white-80);
    }
    .button--play,
    .button--pause {
        font-size: 2em;
        padding: 0 1em;
    }
}
@media (min-width: 40em) {
    .button:hover {
        color: var(--white);
        transition: ease-out 0.5s;
    }

    .button--prev:active {
        transform: translateX(-1em);
    }

    .button--next:active {
        transform: translateX(1em);
    }

    .button--shuffle:active {
        transform: rotateX(180deg);
        transition: box-shadow 0.5s ease-out;
    }
    .button--repeat:active {
        transform: rotateZ(-180deg);
        transition: box-shadow 0.5s ease-out;
    }
}

.button--repeat,
.button--shuffle {
    position: relative;
}

.repeat,
.shuffle {
    display: none;
}

.infinity,
.shuffle-active,
.one {
    font-size: 0.5em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
    padding-top: 3em;
    position: absolute;
}

.infinity {
    font-size: 1em;
    padding-top: 1.2em;
}

.volume-control {
    width: 5em;
    height: 1vh;
    background-color: transparent;
    border-radius: var(--size-one);
    border: var(--white) solid 2px;
    padding: 0;
    margin-left: 0.5em;
}

/* this is only for firefox, chrome and safari*/
.volume-control::-moz-range-thumb,
.volume-control::-webkit-slider-thumb {
    cursor: pointer;
    border-radius: 100%;
    width: 1.5vh;
    height: 1.5vh;
    background: var(--white);
    -webkit-appearance: none;
    appearance: none;
    border: var(--white) solid 2px;
}

.volume-section {
    display: flex;
    align-items: center;
    margin-left: 6em;
}

.volume-change {
    border: none;
    background-color: transparent;
    color: var(--white);
    cursor: pointer;
    margin-bottom: 0;
    padding: 0;
}

.volume-section > * {
    margin-bottom: 1em;
}

.progress {
    width: 100%;
    max-height: 1.5vh;
    background-color: transparent;
    border-radius: var(--size-one);
    border: var(--white) solid 2px;
    padding: 0;
    margin: 0 2em;
}

/* this is only for firefox, chrome and safari*/
.progress::-moz-range-thumb,
.progress::-webkit-slider-thumb {
    cursor: pointer;
    border-radius: 100%;
    width: 2vh;
    max-height: 2vh;
    -webkit-appearance: none;
    appearance: none;
    border: var(--white) solid 2px;
    background-color: var(--white);
}

@media (min-width: 40em) {
    .progress {
        max-height: 4vh;
    }
    .progress::-moz-range-thumb,
    .progress::-webkit-slider-thumb {
        max-height: 16vh;
        min-width: 3vh;
    }
}
